@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script type="text/javascript" src="~/js/clappr.min.js"></script>

@*source: "https://webdi.openhd.lol/cdn/antena3/index.m3u8",*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <div class="player player-ch">
                <div class="wrap-play">
                    <div class="play-up">
                        <div id="container" style="width: 100%; height: 100%">
                            <div id="player" style="width: 100%; height: 100%"></div>
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function loadPlayr() {
                                window.player = new Clappr.Player({
                                    source: "https://localhost:7260/Media/cdn/antena3/index.m3u8",
                                    parentId: "#player",
                                    autoplay: "true",
                                    width: "800px",
                                    height: "600px"
                                });
                            });
                        </script>
     </div>
</div>
